{{#if primary_button}}
	<a {{#if btn_href}} href="{{btn_href}}"  {{/if}} id="{{btn_id}}" class="btn btn-primary {{custom_btn_class}}">{{{btn_text}}}</a>
{{else if secondary_button}}
	<a {{#if btn_href}} href="{{btn_href}}"  {{/if}} id="{{btn_id}}" class="btn btn-secondary {{custom_btn_class}}">{{{btn_text}}}</a>
{{else if icon_only}}
	<a href="{{btn_href}}" class="btn icon-only {{custom_btn_class}}"><span class="sim-icons" data-icon="{{btn_image}}"></span></a>
{{else if text_only}}
	<a href="{{btn_href}}" class="text-only {{custom_btn_class}}">{{btn_text}}</a>
{{else}}
{{/if}}