<div class="card-block {{custom_class}}">
    {{#if title}}
        <h4 class="headline">
            {{#if href}}
                <a href="{{href}}">{{title}}</a>
            {{else}}
                {{title}}
            {{/if}}
        </h4>
    {{/if}}
    {{#if description}}
        <p class="description">{{description}}</p>
    {{/if}}
    {{> includes/image 
            image=image 
            href="#"
            custom_class="bottom-border"
            border_color="#1a8f83"
            }}
</div>