<div class="card card-new h-100">
    <div class="card-body {{custom_class}}"  style="border-color: {{border_color}}">
       <h2><a href="{{href}}" class="card-title">{{title}}</a></h2>
       <div class="card-text"><p>{{description}}</p></div>
       {{#each btn}}
       <div class="card-buttons text-right">
       {{> includes/button custom_btn_class="" btn_href=this.href btn_text=this.btn_text primary_button="true"}}
   </div>
       {{/each}}
     </div>
</div>
