 <h3 class="two-column-banner-title">{{title}}</h3>
    <p class="two-column-banner-description">{{description}}</p>
  
 <img src="{{img_sm_src}}" data-src="{{img_sm_src}}" alt="{{alt_text}}" class="d-block d-md-none d-lg-none two-column-banner-r-img">
    <p class="two-column-banner-inner-description">{{inner_description}}</p>