<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>
  {{#if title}}
    {{title}}
  {{else}}
    Base Page Title
  {{/if}}
</title>
{{! <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/fontawesome.min.css"
    integrity="undefined" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css"> 
   
    }}
<link rel="stylesheet" href="css/style.css" />

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-560ae1b5a34c5184" async="async"></script>
{{!-- <script
  type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpIpuaK_zWFS4qROa77S4ppnpi8DubCQs&libraries=places"
></script> --}}
<script>
  var jsonSocialLoginData = Object.freeze(JSON.parse("\
  {{{jsonFile "socialLogin.json"}}}\
  "));	
	var jsonLoginMenuData = Object.freeze(JSON.parse("\
  {{{jsonFile "loginDialog.json"}}}\
  "));	
    var miniCart_label = Object.freeze(JSON.parse("\
  {{{jsonFile "miniCart.json"}}}\
  "));
  var jsonAppData = Object.freeze(JSON.parse("{{{jsonFile 'appCommon.json'}}}"));
</script>
<script
  src="/similac-component/js/logout_popup/logout_popup.react.js"
></script>
<script
  src="/similac-component/js/user_login_dialog/user_login_dialog.react.js"
></script>