<div class="hero-wrapper h-100">
	<div class="hero-image">
		<picture>
		  <source media="(max-width: 575.98px)" data-srcset="{{img_sm_src}}">
		  <source media="(max-width: 991.98px)" data-srcset="{{img_md_src}}">
		  <img src="{{img_lazy_src}}" data-src="{{img_src}}" alt="{{alt_text}}">
		</picture>
	</div>
	<div class="hero-content-wrapper" onclick="window.location='{{banner_url}}';">
		{{!-- onclick="window.open('{{banner_url}}');"  --}}
		<div class="container">
			<div class="hero-content {{customClass}}">
				<p class="overline">{{banner_overline}} </p>
				<a href="{{banner_url}}" class="header">{{banner_header}}</a>
				<p class="description"> {{banner_desc}} </p>
				{{> includes/button primary_button=primary_button btn_text=btn_text custom_btn_class = custom_btn_class btn_href=banner_url}}
			</div>	
		</div>		
	</div>
</div>