<div class="pdp-tab__product-comp overflow-auto">

  <div class="table pcTable" aria-describedby="product-comparison">
    <div class="d-flex">
        <div class="pdp-tab__product-comp-tablecellTitle" scope="col"></div>
        {{#each productDetail.productCompare.productTitle.data}}
        <div class="pdp-tab__product-comp-tablecellTitle" scope="col">
          <div class="{{customClass}}">
            <picture>
              <source media="(max-width: 575.98px)" data-srcset="{{imgSmSrc}}">
              <source media="(max-width: 991.98px)" data-srcset="{{imgSrc}}">
              <img class="{{customImageClass}}" src="{{imgSrc}}" data-src="{{imgSrc}}" alt="{{altText}}" />
            </picture>
            <p>{{productName}}</p>
          </div>
        </div>
        {{/each}}
    </div>
    <div>

      <div class="pdp-tab__product-comp-tablerow">
        <div scope="col" class="pdp-tab__product-comp-tablecell pdp-tab__product-comp_table-shaded-grey">Description</div>
        <div scope="col" class="pdp-tab__product-comp-tablecell">Product Description</div>
        <div scope="col" class="pdp-tab__product-comp-tablecell">Product Description</div>
        <div scope="col" class="pdp-tab__product-comp-tablecell">Product Description</div>
        <div scope="col" class="pdp-tab__product-comp-tablecell">Product Description</div>
      </div>
      <div class="pdp-tab__product-comp-tablerow">
        <div class="pdp-tab__product-comp-tablecell pdp-tab__product-comp_table-shaded-grey" scope="row">Criteria</div>
        {{#each productDetail.productCompare.productContent.data}}
        <div class="pdp-tab__product-comp-tablecell">

          <picture>
            <source media="(max-width: 575.98px)" data-srcset="{{imgSmSrc}}">
            <source media="(max-width: 991.98px)" data-srcset="{{imgSrc}}">
            <img class="{{customImageClass}}" src="{{imgSrc}}" data-src="{{imgSrc}}" alt="{{altText}}" />
          </picture>

        </div>
        {{/each}}
      </div>
      <div class="pdp-tab__product-comp-tablerow">
        <div class="pdp-tab__product-comp-tablecell pdp-tab__product-comp_table-shaded-grey" scope="row">Criteria</div>
        {{#each productDetail.productCompare.productContent.data}}
        <div class="pdp-tab__product-comp-tablecell">

          <picture>
            <source media="(max-width: 575.98px)" data-srcset="{{imgSmSrc}}">
            <source media="(max-width: 991.98px)" data-srcset="{{imgSrc}}">
            <img class="{{customImageClass}}" src="{{imgSrc}}" data-src="{{imgSrc}}" alt="{{altText}}" />
          </picture>

        </div>
        {{/each}}
      </div>
      <div class="pdp-tab__product-comp-tablerow">
        <div class="pdp-tab__product-comp-tablecell pdp-tab__product-comp_table-shaded-grey" scope="row">Criteria</div>
        {{#each productDetail.productCompare.productContent.data}}
        <div class="pdp-tab__product-comp-tablecell">

          <picture>
            <source media="(max-width: 575.98px)" data-srcset="{{imgSmSrc}}">
            <source media="(max-width: 991.98px)" data-srcset="{{imgSrc}}">
            <img class="{{customImageClass}}" src="{{imgSrc}}" data-src="{{imgSrc}}" alt="{{altText}}" />
          </picture>

        </div>
        {{/each}}
      </div>
      <div class="pdp-tab__product-comp-tablerow">
        <div class="pdp-tab__product-comp-tablecell pdp-tab__product-comp_table-shaded-grey" scope="row">Criteria</div>
        {{#each productDetail.productCompare.productContent.data}}
        <div class="pdp-tab__product-comp-tablecell">

          <picture>
            <source media="(max-width: 575.98px)" data-srcset="{{imgSmSrc}}">
            <source media="(max-width: 991.98px)" data-srcset="{{imgSrc}}">
            <img class="{{customImageClass}}" src="{{imgSrc}}" data-src="{{imgSrc}}" alt="{{altText}}" />
          </picture>

        </div>
        {{/each}}
      </div>


    </div>
  </div>

</div>