<div  class="two-column-banner">
     <div class="row">

<div class="col-lg-4 col-md-6 d-none d-md-block d-lg-block">
<picture>
      <source media="(max-width: 991px)" srcset="{{img_md_src}}" data-srcset="{{img_md_src}}">
      <img src="{{img_src}}" data-src="{{img_src}}" alt="{{alt_text}}">
</picture>
 

</div>
<div class="col-lg-8 col-md-6 col-sm-12 para-content">
    {{> includes/coupon-banner-dynamic title=CouponsandSamples.banner.title description=CouponsandSamples.banner.description inner_description=CouponsandSamples.banner.innerDescription img_sm_src=CouponsandSamples.banner.imgSmSrc alt_text=CouponsandSamples.banner.altText}}
</div>
</div>
</div>

