<div class="videoPlayerWrapper">
<a href="javascript:void(0)" class="playVideo"><img src="{{this.video.thumbnail}}"/></a>
<div class="videoPlayer d-none">
<iframe width="{{this.video.width}}" height="{{this.video.height}}" src="" data-attr="{{this.video.url}}" frameborder="{{this.video.frameborder}}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
</div>
</div>